<h1>My readings</h1>
<% @readings.each do |book| %>
<table width="70%">
  <caption> </caption>
  <tbody>
    <tr>
      <td width="85%">
        <span> Title </span> : <span class="book-title"><%= book.title %></span><br>
        <span> Author </span> : <span class="author"><%= book.author %></span><br>
        <span> Start </span> : <span class="book-start"><%= book.start %></span><br>
        <span> Progress </span> : <span class="progress"><%= book.progress %></span><br>
        <span> Comment </span> : <span><%= book.comment %></span><br>
      </td>
      <td width="15%">
        <span> <%= image_tag book.picture %></span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <div class="divider">
      </div>
      </td>
    </tr>
  </tbody>
</table>
<% end %>

