<h1>Listing readings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Progress</th>
      <th>Start</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.title %></td>
        <td><%= reading.author %></td>
        <td>
          <div class="progress progress-success progress-striped active" style="margin-bottom: 9px;">
          <div class="bar" style="width: <%= reading.progress %>"></div>
        </td>
        </div>
        <td><%= reading.start %></td>
        <td><%= reading.comment %></td>
        <td><%= link_to 'Show', reading %></td>
        <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
        <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reading', new_reading_path %>
