<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reading.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reading.author %>
</p>

<p>
  <strong>Start:</strong>
  <%= @reading.start %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reading.comment %>
</p>
<p>
  <strong>Progress:</strong>
    <div class="progress progress-success progress-striped active" style="width:150px">
    <div class="bar" style="width: <%= @reading.progress %>"></div>
</p>
<br>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
