<% Reading.all.each do |book| %>
  <% if admin_signed_in? %>
    <%= link_to 'New Reading', new_reading_path %>
    <%= link_to 'Show', book %>
    <%= link_to 'Edit', edit_reading_path(book) %></td>
    <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<p id="notice"><%= notice %></p>

  <span> <%= image_tag @reading.picture %></span>
<p>
  <strong>Title:</strong>
  <%= @reading.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reading.author %>
</p>

<p>
  <strong>Start:</strong>
  <%= @reading.start %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reading.comment %>
</p>
<p>
  <strong>Progress:</strong>
    <div class="progress progress-success progress-striped active" style="width:150px">
    <div class="bar" style="width: <%= @reading.progress %>"></div>
</p>
<br>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
